*{
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

.the-card {
    font-size: 22px;
    color: #fff;
}
.do-center {
    text-align: center;
}
.icons {
    transition: 0.5s;
}
.icons:hover {
    transform: scale(1.2);
}


.main-card{
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.561);
    display: none;
    transition: 1s;
}
.card:hover .main-card{
    display: block;
    transition: 1s;
}
.bra {
    background-color: #054B57;
}